---
layout: home
---

<div class="home-container">

  <p class="home-bigtext" markdown="1">
    San Diego Chess League
  </p>

  <p class="home-subtitle" markdown="1">
    <i>Building school success through chess.</i>
  </p>

  <div class="home-chesspieces">
    <img src="/img/chesspieces/wikipedia/bR.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/wN.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/bB.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/wQ.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/bK.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/wK.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/bQ.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/wB.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/bN.png" class="home-piece"/>
    <img src="/img/chesspieces/wikipedia/wR.png" class="home-piece"/>
  </div>

  <div class="home-cta">
    <a class="custom-btn" href="/about">What's the deal?</a><br>
    <a class="custom-btn" href="/join">Join the League!</a><br>
    <a class="custom-btn" href="/partners">Support our cause.</a><br>
  </div>

</div>


<!--

      <div class="col-md-10 col-md-offset-1">
        {% for post in paginator.posts %}
            {% include tile.html %}
        {% endfor %}

        {% include pagination.html %}
      </div>

    -->
